<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Como</h2>
                    <h3 class="section-subheading text-muted">Crie sua marca de roupas e propague seu estilo. O processo é simples:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Entendimento</h4>
                                    <h4 class="subheading">Conhecendo você melhor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Não queremos nada que não tenha exatamente sua cara. Vamos bater um papo e conhecer melhor seus gostos, vontades e objetivos!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pesquisa</h4>
                                    <h4 class="subheading">Nada será deixado de lado</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Aprofundaremos nos seus canais e público. Aprenderemos sobre que é seu público e qual a cultura que você já criou. Com base nisso, sugerimos os melhores produtos e customizações!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fabricação</h4>
                                    <h4 class="subheading">Aqui a mágica acontece</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tudo escolhido, agora é a hora de colocar as máquinas para trabalhar e fazer as suas peças de roupas. Escolhemos os melhores matériais e profissionais para não fazer feio!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>vendas</h4>
                                    <h4 class="subheading">É correr para o abraço</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Você terá suas roupas prontas para vender para seus seguidores, pode começar a divulgação total e a entrega para todo o Brasil!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faça seus
                                    <br>seguidores
                                    <br>felizes!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>