<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O quê?</h2>
                    <h3 class="section-subheading text-muted">
                        A agência que desenvolve a sua marca de roupa pra você faturar.
                        Especialistas em criação de vestuários para influenciadores digitais!
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Criação de Cultura</h4>
                    <p class="text-muted">Fique cada dia mais presente na vida dos seus seguidores. Engaje cada vez mais a comunidade que você criou e está nutrindo. Fidelize seus seguidores e crie sua própria cultura e estilo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aumentar a Comunidade</h4>
                    <p class="text-muted">Torne cada seguidor um divulgador de sua cultura. Dê propósito que eles propagarão a mensagem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Receita</h4>
                    <p class="text-muted">Você também precisa de dinheiro para cada dia fazer melhor o que já faz, deixe os seguidores te ajudarem a ter total liberdade criativa.</p>
                </div>
            </div>
        </div>
    </section>